node_modules/
adminui/node_modules/
Admin_interior-design-backend/node_modules/

.next/
dist/

.env
.env.local

__pycache__/
venv/

*.log
Admin/interior-design-backend/uploads/
Admin/interior-design-backend/token.json
adminui/tsconfig.tsbuildinfo
Admin/interior-design-backend/logs/
